{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Actualités{% endblock %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Entraînements Super-G Saas-Fee</h2>
            <p>06/10/2024</p>
            <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/H49H4_z_ZB8" title="Saas-Fee / Octobre 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Stock de bières épuisé</h2>
            <p>02/10/2024</p>
            <img src="{{ asset('images/news/remaining-beers.jpeg') }}" alt="" class="p-8 w-2/3 m-auto">
            <p class="">
                Un grand merci à toutes les personnes qui ont commandé des bières. La vente a été un grand succès et le stock est épuisé!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Entraînements Slalom Saas-Fee</h2>
            <p>30/09/2024</p>
            <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/3eg9tYk2xks" title="Saas-Fee / Septembre 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Un grand merci à Bornet Transports</h2>
            <p>14/09/2024</p>
            <img src="{{ asset('images/sponsors/bornet-transports.jpg') }}" alt="" class="p-8 w-2/3 m-auto">
            <p class="">
                L'entreprise <a href="https://bornettransports.ch/" target="_blank">Bornet Transports</a> m'apporte un soutien financier pour la saison à venir! Un grand merci!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Le Lab Des Montagnes rejoint le sponsoring !</h2>
            <p>07/09/2024</p>
            <img src="{{ asset('images/sponsors/lelab.png') }}" alt="" class="p-8">
            <p class="">
                Un grand merci à <a href="https://lelabdesmontagnes.ch/" target="_blank">Le Lab Des Montagnes</a> pour son soutien financier!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Camp 4 / Saas-Fee</h2>
            <p>05/09/2024</p>
            <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/2qMLODCWqn4" title="Camp 4  / Saas Fee" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Nouveau stock de bières</h2>
            <p>03/09/2024</p>
            <img src="{{ asset('images/news/new-stock-beers.jpeg') }}" alt="">
            <p class="">
                Suite au grand succès lors de la première ventre de bières, nous avons commandé un nouveau stock! Les commandes sont à nouveau ouvertes!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Un grand merci à Latico!</h2>
            <p>29/08/2024</p>
            <img src="{{ asset('images/news/latico.png') }}" alt="">
            <p class="">
                Un grand merci à <a href="https://www.latico.ch" target="_blank">Latico</a> pour leur soutien financier pour la saison à venir!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Stock de bières déjà épuisé!</h2>
            <p>15/08/2024</p>
            <img src="{{ asset('images/news/dernieres-commandes.jpeg') }}" alt="">
            <p class="">
                Le premier stock de bières est déjà épuisé et les dernières commandes sont prêtes! Un grand succès, merci pour vos commandes et à tout bientôt pour une nouvelle vente!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Mon premier sponsor</h2>
            <p>07/08/2024</p>
            <img src="{{ asset('images/news/iomedia.svg') }}" alt="">
            <p class="">
                Un tout grand merci à <a href="https://www.iomedia.ch" target="_blank">iomedia</a> pour leur soutien financier pour la saison à venir!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Préparation des commandes</h2>
            <p>05/08/2024</p>
            <img src="{{ asset('images/news/preparation-bieres.jpg') }}" alt="">
            <p class="">
                Les commandes de bières vont bon train! Préparation minutieuse des paquets!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Super-G - Camp 2 - Zermatt</h2>
            <p>28/07/2024</p>
            <iframe class="aspect-video" src="https://www.youtube.com/embed/57Qg3oa_SgY" title="Super-G / Camp 2 / Zermatt" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Les bières sont là!</h2>
            <p>27/07/2024</p>
            <img src="{{ asset('images/news/bieres.jpg') }}" alt="">
            <p class="">
                Avec l'aide de la <a href="https://www.traquenard.ch/" target="_blank" class="text-primary">Brasserie du Traquenard</a>, nous avons mis au point une bière style American Pale Ale, que je vais vendre à mon entourage et mes connaissances!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Slalom Géant - Camp 1 - Zermatt</h2>
            <p>23/07/2024</p>
            <iframe class="aspect-video" src="https://www.youtube.com/embed/ZcX2JUw2hag" title="Slalom Géant - Camp 1 - Zermatt" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Nouveau site internet</h2>
            <p>11/07/2024</p>
            <img src="{{ asset('images/news/news-1.png') }}" alt="">
            <p class="">
                Mon nouveau site <a href="https://mariedeleze.ch">mariedeleze.ch</a> est en ligne! Il est encore en construction, mais vous pouvez déjà y trouver des informations sur mes sponsors et mon matériel.
            </p>
        </div>
    </div>
{% endblock %}
