{% extends 'layout.html.twig' %}

{% block title %}Programme{% endblock %}

{% block content %}
    <div class="md:w-1/2 mx-auto px-4 md:px-0 flex flex-col gap-4">
        <h1>Programmation</h1>
        <div class="flex flex-col gap-4">
            <div class="mb-5">
                <div class="text-center text-xl font-bold">20h30</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/DJ Biene.png') }}" class="w-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            DJ Biene
                        </h2>
                        <div>
                            Dès 20h30, DJ Biene, DJ allemand, résident au Bierkönig à Mallorca, avait littéralement
                            envoûté le public lors de notre 1ère édition avec les plus grands titres de « Schlager ».
                            Il nous fait le plaisir et l’honneur d’être, à nouveau présent, en 2025.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="text-center text-xl font-bold">22h00</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/Marry.png') }}" class="h-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            Marry
                        </h2>
                        <div>
                            A 22h00, cette artiste allemande, Star du Bierkönig à Malle, débutera le 1er concert de la
                            soirée et fera grimper la température avec ses hits « INSELLIEBE », « wir feiern... ».
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="text-center text-xl font-bold">23h00</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/Manni Manta.png') }}" class="w-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            Manni Manta
                        </h2>
                        <div>
                            Puis, à 23h00, ce nouveau talent dans le monde de la « Schlager » chauffera le public avec
                            son look déchanté et sa célèbre coupe mulet.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="text-center text-xl font-bold">00h00</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/Der Zipfelbube.png') }}" class="h-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            Der Zipfelbube
                        </h2>
                        <div>
                            A 00h00, le public sera conquis avec ce show man allemand qui entonnera sa célèbre
                            chanson « Olivia » !
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="text-center text-xl font-bold">01h00</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/Nancy Franck.png') }}" class="h-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            Nancy Franck
                        </h2>
                        <div>
                            Enfin, à 01h00, Nancy également Star du Bierkönig, à Malle, enflammera définitivement la
                            salle avec ses hits « Jung sein », « schnelle Brille ». Ambiance de folie garantie !
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="text-center text-xl font-bold">Jusqu'à 03h00</div>
                <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                    <div class="bg-primary">
                        <div class="w-52 h-52 flex items-end justify-center mx-auto">
                            <img src="{{ asset('images/artists/DJ Biene.png') }}" class="w-full">
                        </div>
                    </div>
                    <div class="p-5 grow">
                        <h2 class="relative mt-0 md:mt-5 font-heading text-3xl mb-4">
                            DJ Biene
                        </h2>
                        <div>
                            Retour de DJ Biene pour terminer la soirée en beauté!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
