{% extends 'layout.html.twig' %}

{% block title %}Sponsors{% endblock %}

{% block content %}
    <div class="content">
        <h1>Sponsors</h1>
        <div class="text-center">Les Amis de la Schlager remercient chaleureusement tous les sponsors de leur généreux soutien.</div>
        <div class="flex flex-col gap-2">
            <h2 class="text-center">Ski d'Or</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-12 items-center">
                <div>
                    <img src="{{ asset('images/sponsors/bornet-transport.jpg') }}" class="w-36 rounded mx-auto" alt="Bornet Transports">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/gilliard.png') }}" alt="Gilliard">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/ciampitti.jpg') }}" alt="Ciampitti">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/baobab.jpg') }}" alt="Baobab">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/carrosserie-berner.png') }}" class="rounded w-52 mx-auto" alt="Carrosserie Berner">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-center">Ski d'Argent</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-12 items-center">
                <div>
                    <img src="{{ asset('images/sponsors/vouillamoz.png') }}" alt="Vouillamoz">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/disiere.jpg') }}" alt="Disière">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/auto-evolution.jpg') }}" alt="Auto Evolution">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/astori.jpg') }}" alt="Astori">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/besse-clean.jpg') }}" alt="Besse Clean">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/cx-print.png') }}" alt="CX Print">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/comptoir-immobilier.jpg') }}" alt="Comptoir Immobilier">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/fred-thomas.jpg') }}" alt="Fred Thomas">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/sollertia.jpg') }}" alt="Sollertia">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/valcolor.png') }}" alt="Valcolor">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/pillet.png') }}" alt="Pillet">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/dimab.svg') }}" alt="Groupe Dimab">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-center">Ski de Bronze</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-12 items-center">
                <div>
                    <img src="{{ asset('images/sponsors/materiaux-plus.jpg') }}" alt="Matériaux Plus">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/discobeton.jpg') }}" alt="Disco Béton">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/neuwerth-ducommun.png') }}" alt="Neuwerth et Ducommun">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/forvis-mazars.jpg') }}" alt="Forvis Mazars">
                </div>
                <div class="flex justify-center">
                    <img src="{{ asset('images/sponsors/michelet-paysagistes.png') }}" alt="Michelet Paysagistes">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/garage-chiron.png') }}" alt="Garage de Chiron">
                </div>
                <div>
                    <img src="{{ asset('images/sponsors/lombardi.png') }}" alt="Lombardi">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
